{% extends "base.twig" %}

{% block username%}
<div style="background:#ffeeee; padding:10px; border:1px solid #ff0000; border-radius:20px;"> {{ user }} </div>
{% endblock %}

{% block message_count %}
<a href="/"><span class="badge"> {{ message_count }} </span></a>
{% endblock %}

{% block follow %}
<a href="/"><span class="badge">{{ follow }}</span></a>
{% endblock %}

{% block follower %}
<a href="/"><span class="badge">{{ follower }}</span></a>
{% endblock %}

{% block content%}
{%if messages %}
  {% for message in messages %}
  <div class="well well-sm">{{ message.message }} ({{ message.created_at }})</div>
  {% endfor %}
{% endif %}
{% endblock %}

