{% extends "base.twig" %}

{% block post_url %}
/chapter1/write
{% endblock %}
{% block username%}
<div style="background:#ffeeee; padding:10px; border:1px solid #ff0000; border-radius:20px;"> {{ user }} </div>
{% endblock %}
{% block messages %}
<a href="/"><span class="badge"> {{ messages }} </span></a>
{% endblock %}
{% block follow %}
<a href="/"><span class="badge">{{ follow }}</span></a>
{% endblock %}
{% block follower %}
<a href="/"><span class="badge">{{ follower }}</span></a>
{% endblock %}
{% block content%}
{%if message_line %}
  <ul>
  {% for message in message_line %}
    <li> {{ message.message }} ({{ message.created_at }})</li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}

